body{
  margin:33px;
  width:100%;
}
h1{
 font-family: verdana, arial;

 line-height: 18px;
 color: #333;
 margin:17.42px;
}
table{

  width:100%;
  max-width:747px;
}
th{
  display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
